<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Editar Tarefa</title>
  </head>
  <body>
    <h1>Editar: {{ tarefa.descricao }}</h1>
    <form method="post">
      {% csrf_token %}
      <label>Descrição:</label>
      <input
        type="text"
        name="descricao"
        value="{{ tarefa.descricao }}"
        required
      />
      <button type="submit">Salvar</button>
    </form>
    <p><a href="{% url 'core:detalhar' tarefa.id %}">Ver detalhe</a></p>
    <p><a href="{% url 'core:lista' %}">Voltar à lista</a></p>
  </body>
</html>